In [1]:
import pandas as pd
import seaborn as sb
import requests as req
from helper import *
from standardize import *
import geopandas as gpd

offset0
offset250000
offset500000
offset750000
offset0
offset250000

In [2]:
lead_df.rename(columns={c:camel_to_snake(c) for c in lead_df.columns}, inplace=True)
lead_df.head()

,city,house_number_range,house_number_contd,state,street_name,zip_code,_id
0,MILWAUKEE,100,,WISCONSIN,E ABERT PL,53212,1
1,MILWAUKEE,940,,WISCONSIN,E ABERT PL,53212,2
2,MILWAUKEE,1301,,WISCONSIN,E ALBION ST,53202,3
3,MILWAUKEE,1309,11,WISCONSIN,E ALBION ST,53202,4
4,MILWAUKEE,1316,18,WISCONSIN,E ALBION ST,53202,5

In [3]:
lead_df.shape

(77191, 7)

In [4]:
# crime_sl = '87843297-a6fa-46d4-ba5d-cb342fb2d3bb'

# url = 'https://data.milwaukee.gov/api/3/action/datastore_search?resource_id='

# limit = '250000'

# offset = 0

# empty = False

# crime_df = pd.DataFrame()

# while not empty:
        
#     print('offset'+ str(offset))
    
#     url_crime = url+crime_sl+'&limit='+limit+'&offset='+str(offset)
    
#     crime_set = req.get(url_crime, auth=('Authorization', api_key))

#     crime_soup = BeautifulSoup(crime_set.content,'html.parser')
        

#     offset+=250000
    
#     if  not len(pd.DataFrame(pd.read_json(crime_soup.contents[0])).loc['records'].loc['result']):
#         empty = True
#     else:
#         crime_df = crime_df.append(pd.DataFrame(pd.read_json(crime_soup.contents[0]).loc['records'].loc['result']))

In [5]:
# def pull_data(url, record_id, api_key):
    
#     crime_sl = '87843297-a6fa-46d4-ba5d-cb342fb2d3bb'

#     url = 'https://data.milwaukee.gov/api/3/action/datastore_search?resource_id='

#     limit = '250000'

#     offset = 0

#     empty = False

#     df = pd.DataFrame()

#     while not empty:

#         print('offset'+ str(offset))

#         url_adj = url+record_id+'&limit='+limit+'&offset='+str(offset)

#         records = req.get(url_adj, auth=('Authorization', api_key))

#         soup = BeautifulSoup(records.content,'html.parser')


#         offset+=250000

#         if  not len(pd.DataFrame(pd.read_json(soup.contents[0])).loc['records'].loc['result']):
#             empty = True
#         else:
#             df = df.append(pd.DataFrame(pd.read_json(soup.contents[0]).loc['records'].loc['result']))
        
#     return df

In [6]:
# crime_df = pull_data(url, crime_sl, api_key)

In [7]:
crime_df.rename(columns={c:camel_to_snake(c) for c in crime_df.columns}, inplace=True)
crime_df.head()

,ald,arson,assaultoffenses,burglary,createddate,criminaldamage,homicide,incident_n,location,lockedvehicle,...,police,robbery,safesoundbnd,sexoffense,theft,tract,vehicletheft,ward,zip,_id
0,6,0,0,0,2015-05-03 15:40:00,0,0,151230102,3255 N 6TH ST,0,...,5,1,12,0,0,6800,0,121,53212,505817
1,7,0,1,0,2015-05-03 15:54:00,0,0,151230114,3102 N 44TH ST,0,...,7,0,0,0,0,4900,0,103,53210,505818
2,8,0,0,1,2015-05-03 15:56:00,0,0,151230108,2202 S 33RD ST,0,...,2,0,0,0,0,17200,0,259,53215,505819
3,12,0,0,0,2015-05-03 15:59:00,0,0,151230107,1301 W HAYES AV,0,...,2,1,0,0,0,17500,0,254,53215,505820
4,15,0,0,0,2015-05-03 16:12:00,0,0,151230104,2022 N 40TH ST,1,...,3,0,5,0,0,9000,0,156,53208,505821

In [8]:
crime_df.shape

(624346, 21)

In [9]:
#runs but kills the kernel

# fp = 'poldist.shp'
# map_df = gpd.read_file(fp)
# # check data type so we can see that this is not a normal dataframe, but a GEOdataframe
# map_df.head()

In [10]:
# new_df = pd.merge(crime_df, lead_df,  how='left', on=['house_number_range','house_number_contd','state','street_name','zip_code'])

In [11]:
# cfs_df.head()

In [12]:
# cfs.shape

In [13]:
# from bs4 import BeautifulSoup
# import json


# url_adj = 'https://data.milwaukee.gov/dataset/b7145039-0ce3-495c-b23d-bafb34ba3a50/resource/96d96fb8-48e9-4db8-ab6a-ed9bbeda573d/download/callcenterdata.json'

# records = req.get(url_adj, auth=('Authorization', api_key))

# # soup = BeautifulSoup(records.content,'html.parser')

# #df = pd.DataFrame(pd.read_json(soup.contents[0]).loc['records'].loc['result'])
# pd.read_json(soup.contents[0])
# #soup.contents[0]
#cfs = pd.read_json('cfs.json')

In [14]:
# cfs_df = pd.DataFrame()
# for row in range(0,cfs.shape[0]):
#     cfs_df = cfs_df.append(pd.read_json(json.dumps(cfs.iloc[0]['elements']), lines=True))

In [15]:
# cfd_df.head()

In [22]:
#import into postgres?

from sqlalchemy import create_engine
import psycopg2 
import io
engine = create_engine('postgresql+psycopg2://andrewyaz:andrewyaz@localhost:5432/andrewyaz')
conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
lead_df.to_sql('leadmke', engine)

In [24]:
crime_df.to_sql('crimemke', engine)

In [25]:
crime_df.columns

Index(['ald', 'arson', 'assaultoffenses', 'burglary', 'createddate',
       'criminaldamage', 'homicide', 'incident_n', 'location', 'lockedvehicle',
       'nsp', 'police', 'robbery', 'safesoundbnd', 'sexoffense', 'theft',
       'tract', 'vehicletheft', 'ward', 'zip', '_id'],
      dtype='object')

In [36]:
crime_loc_ct = crime_df.groupby(['location']).size().to_frame().reset_index()